<app-heading text="{{pageTitle}}"></app-heading>

<div class="row">

  <div class="col-xs-12 col-lg-4">
    <app-subheading text="Search By:"></app-subheading>
    <div class="btn-toolbar">
      <div class="btn-group" role="group" data-toggle="buttons">
        <label class="btn btn-default active" (click)="toggleNameAndORDOB($event)">
          <input type="radio" name="options" id="option6">Name and/or DOB
        </label>
        <label class="btn btn-default" (click)="toggleBirthNumber($event)">
          <input type="radio" name="options" id="option5">Birth Number
        </label>
      </div>
    </div>
    <br><br>
  </div>
  <div class="col-xs-12 col-lg-8">
        
    <form #form="ngForm" (ngSubmit)="searchChild(form.value)" [hidden]="nameAndORDOB">
      <app-subheading text="Name/DOB:"></app-subheading>
      <div class="form-group">
        <label for="firstName" class="control-label">First Name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               placeholder="First Name"
               name ="firstName" ngModel>
      </div>
      <div class="form-group">
        <label for="otherNames" class="control-label">Other Names</label>
        <input type="text"
               class="form-control"
               id="otherNames"
               placeholder="Other Names"
               name="otherNames" ngModel>
      </div>
      <div class="form-group">
        <label for="surName" class="control-label">Surname</label>
        <input type="text"
               class="form-control"
               id="surName"
               placeholder="Surname"
               name="surName" ngModel>
      </div>
      <div class="form-group">
        <label for="dateOfBirth" class="control-label">Date of birth</label>
        <input type="text"
               class="form-control"
               id="dateofbirth"
               placeholder="Date of Birth"
               placeholder="Surname"
               name="dateOfBirth" ngModel>
      </div>
      <button type="submit">Search</button>
    </form>

    <form name="birthNumber" [hidden]="birthNumber">
      <app-subheading text="Birth Number:"></app-subheading>
      <div class="form-group">
        <label for="birthNumber" class="control-label">Birth Number</label>
        <input type="text"
               (keyup.enter)="update(text.value)"
               name="birthNumber"
               [(ngModel)]="birthNumberValue"
               class="form-control"
               id="birthNumberValue"
               placeholder="Birth Number">
      </div>
      <button type="submit" (click)=update(birthNumberValue) class="btn btn-default">Search</button>
    </form>
  </div>
</div>

<hr>

<app-subheading text="Child Details:"></app-subheading>

<p-dataTable [value]="children" [responsive]="true">
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
  <!--<p-column styleClass="col-button">
    <template let-child="rowData" pTemplate="body">
      <button type="button" pButton (click)="selectChildren(child);" icon="fa-search"></button>
    </template>
  </p-column>-->
   <p-column styleClass="col-button">
        <template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </template>
        <template let-child="rowData" pTemplate="body">
            <button type="button" (click)="selectChild(child)">Test link</button>
        </template>
    </p-column>
</p-dataTable>