<!DOCTYPE html>
<html>
<head>
	<title>HMRC Template</title>

    <!-- Global -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="./templatestyles.css" rel="stylesheet">

    <!-- High Contrast Theme Styles -->
    <!-- <link href="./highcontrast.css" rel="stylesheet"> -->

    <script type="text/javascript">
     // Javascript 
    </script>
    <!-- Responsive Scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

	<!-- Header container -->
    <header class="header">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div class="dropdown">
                    </div>

                    <!-- Hamburger Icon -->
                    <span _ngcontent-tlt-5="" aria-hidden="true" class="glyphicon glyphicon-menu-hamburger" id="hamburger-icon"></span>
                    <!-- HMRC Logo -->
                    <div class="navbar-brand">
                        <a href="#/">
                            <img class="brand-img" src="images/hmrc.png" />
                            <span class="brand-text">HM Revenue & Customs</span>
                        </a>
                    </div>

                    <!--<div class="collapse navbar-collapse " id="js-navbar-collapse">-->

                    <!-- Search Component -->
                    <div class="header-central-block input-group">
                        <form class="search-form-wrapper form-search input-group-btn">
                         	<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NINO <span class="caret"></span>
                         	</button>
                                 <ul class="dropdown-menu">
        				          <li><a href="#">Action</a></li>
        				          <li><a href="#">Another action</a></li>
        				          <li><a href="#">Something else here</a></li>
        				          <li role="separator" class="divider"></li>
        				          <li><a href="#">Separated link</a></li>
        				        </ul>
                        	<input _ngcontent-lkw-6="" name="search" placeholder="Search... (AB123456C)" type="search" required="">
                        	<button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </div>

                    <!-- Header Icons Container  -->
                    <div class="header-right pull-right" ng-controller="RightMenuTopCtrl">
                        <ul class="header-icons list-inline icons">
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-cog" ng-click="openDummyModal();"></i>
                                </a>
                            </li>
                        	<li>
                            	<a href="#">
                                   <i class="glyphicon glyphicon-print" ng-click="openDummyModal();"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-info-sign" ng-click="openDummyModal();"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <i class="glyphicon glyphicon-log-out"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header Container  -->

    <!-- Parent Body Container  -->
    <main class="parent-container container" style="">
    	<!-- Breadcrumb Container -->
    	<div class="breadcrumb-container container">
    		<ul class="breadcrumb">
    			<li class="Breadcrumb-item"><a href="#">Dashboard</a></li>
    			<li class="Breadcrumb-item"><a href="#">Child Benefit</a></li>
    			<li class="Breadcrumb-item">Child Details</li>
    		</ul>
    	</div>

    	<!-- Side Container -->
    	<aside id="sideMenu" class="secondary-container side-menu" style="">
            <div class="ticker-container">
                <label class="ticker-label">Name:</label>
                <span class="ticker-info">Mr John Smith</span>

                <!-- <hr class="divider"></hr> -->
                <label class="ticker-label">NINO:</label>
                <span class="ticker-info">NL12345D</span>
              
                <!-- <hr class="divider"></hr> -->
                <label class="ticker-label">D.O.B:</label>
                <span class="ticker-info">20/02/1991</span>
      
                <!-- <hr class="divider"></hr> -->
                <label class="ticker-label">Address:</label>
                <span class="ticker-info">12 Merry Lane, Newcastle, NE32WE</span>
                <!-- <hr class="divider" /> -->
            </div>
            <button class="btn-toggle" onclick="openNav()"><span class="glyphicon glyphicon-chevron-left"></span></button>
    		<div class="primary-navigation">
    			<ul class="nav-stacked">
    				<li><a href="#" class="active">Child Benefit</a></li>
    				<li><a href="#">Claim Summary</a></li>
    				<li class="nav-toggle">
                        <a href="#"><span class="glyphicon glyphicon-chevron-down"></span>Child Search</a>
                        <ul class="nav-stacked-inner">
                            <li><a href="#">List 1</a></li>
                            <li><a href="#">List 2</a></li>
                            <li><a href="#">List 3</a></li>
                        </ul>
                    </li>
    				<li><a href="#">Child Claimant Partner</a></li>
    				<li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Claimant Child Details</a></li>
    			</ul>
    		</div>
    	</aside>

    	<!-- Main Template Container  -->
    	<div class="primary-container" style="">
    		<div class="central-container content">

        <!-- Fielset  -->
		<fieldset class="fieldset">

            <!-- Fieldset Section TITLE -->
            <div class="row">
                <legend class="col-lg-12">Additional Details</legend>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Marriage / CP status</label>
                        <div class="controls">
                            <input type='text' class='form-control' value="" />

                            <!-- Alert for Inputs -->
                              <div class="alert-container">
                                <div class="alert alert-info">
                                    This is an Info Alert!
                                </div>
                              </div> <!-- End of Alert Container -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Gender</label>
                        <div class="controls">
                            <input type='text' class='form-control' value="" />
                        </div>

                        <!-- Alert for Inputs -->
                          <div class="alert-container">
                            <div class="alert alert-danger">
                                This is a danger Alert!
                            </div>
                          </div> <!-- End of Alert Container -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Date of Birth</label>
                        <div class="controls">
                            <input type='text' name="dob" datepicker="" class='form-control' placeholder="__/__/____" value="" />
                            <span class="add-on">
                                <label for="dob">
                            <span class="glyphicon glyphicon-calendar" />
                                </label>
                            </span>
                        </div>

                        <!-- Alert for Inputs -->
                          <div class="alert-container">
                            <div class="alert alert-success">
                                This is a Success Alert!
                            </div>
                          </div> <!-- End of Alert Container -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Date of Death</label>
                        <div class="controls">

                            <!-- Input -->
                            <input type='text' name="dod" datepicker="" class="form-control" placeholder="__/__/____" value="" />

                            <!-- Calander Icon Add On -->
                            <span class="add-on">
                                <label for="dod">
                                    <span class="glyphicon glyphicon-calendar" />
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Date of Leaving UK</label>
                        <div class="controls">
                            <input type='text' name="dolUK"  datepicker="" class='form-control' ui-date placeholder="__/__/____" value="" />
                            <span class="add-on">
                                <label for="dolUK">
                            <span class="glyphicon glyphicon-calendar" />
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Date of Returning to UK</label>
                        <div class="controls">
                            <input type='text' name="dorUK" datepicker="" class='form-control' ui-date placeholder="__/__/____" value="" />
                            <span class="add-on">
                                <label for="dorUK">
                            <span class="glyphicon glyphicon-calendar" />
                                </label>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Specialist Business Area</label>
                        <div class="controls">
                            <input type='text' class='form-control' ng-model='PayeIndividualSummaryModel.additional.SBA' value="" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-input">
                        <label class='control-label' for='input1'>Merge Status</label>
                        <div class="controls">
                            <input type='text' class='form-control' ng-model='PayeIndividualSummaryModel.additional.mergeStatus' value="" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Fieldset Section -->
        <fieldset class="fieldset">
            <div class="row">
                <!-- GRID COL -->
                <div class="col-lg-12">
                    <legend class="legend">ChB Complex Eligibility - EU Legislation</legend>
                </div>
            </div>

            <!-- First Row -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <input class="form-control" type="text"></input>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class="control-label">Identity/Social Security Number</label>
                        <div class="controls">
                            <input class="form-control" type="text"></input>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class="control-label">Date of Birth</label>
                        <div class="controls">
                            <input class="form-control" type="text"></input>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second row -->
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class="control-label">Childrens Relationship to responsible person</label>
                        <div class="controls">
                            <input class="form-control" type="text"></input>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-input">
                        <label class="control-label">Work Status of Responsible Person</label>
                        <div class="controls">
                            <select class="form-control">
                                <option value="Worker">Worker</option>
                                <option value="Mr">Self Employed</option>
                                <option value="Unemployed">Unemployed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Checkboxes & Radio Buttons</legend>
                    </div>
                </div>
            
                <!-- Row One Checkbox -->
                <div class="row">
                    <!-- GRID COL -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- Form Container -->
                        <div class="form-input checkbox-batch">
                            <!-- Checkbox label -->
                            <label class="control-label" for="checkboxbatch">Checkbox One</label>
                            <!-- Checkbox Button -->
                            <input id="checkboxbatch" type="checkbox" class="checkbox-control">
                        </div>
                    </div>
                    <!-- GRID COL -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- Form Container -->
                        <div class="form-input checkbox-batch">
                            <!-- Checkbox label -->
                            <label class="control-label" for="checkboxbatch">Checkbox Two</label>
                            <!-- Checkbox Button -->
                            <input id="checkboxbatch" type="checkbox" class="checkbox-control">
                        </div>
                    </div>
                    <!-- GRID COL -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- Form Container -->
                        <div class="form-input checkbox-batch">
                            <!-- Checkbox label -->
                            <label class="control-label" for="checkboxbatch">Checkbox Three</label>
                            <!-- Checkbox Button -->
                            <input id="checkboxbatch" type="checkbox" class="checkbox-control">
                        </div>
                    </div>
                </div>

                <!-- Row Two Checkbox -->
                <div class="row">
                    <div class="col-lg-4">
                         <div class="form-input checkbox-batch">
                            <label class="control-label" for="checkboxbatch">Checkbox Four</label>
                            <input id="checkboxbatch" type="checkbox" 
                            class="checkbox-batch">
                        </div>
                    </div>
                    <div class="col-lg-4">
                         <div class="form-input checkbox-batch">
                            <label class="control-label" for="checkboxbatch">Checkbox Five</label>
                            <input id="checkboxbatch" type="checkbox" 
                            class="checkbox-batch">
                        </div>
                    </div>
                    <div class="col-lg-4">
                         <div class="form-input checkbox-batch">
                            <label class="control-label" for="checkboxbatch">Checkbox Six</label>
                            <input id="checkboxbatch" type="checkbox" 
                            class="checkbox-batch">
                        </div>
                    </div>
                </div>

                <!-- Row Two Radio -->
                <div class="row">
                    <!-- GRID COL -->
                    <div class="col-lg-4">
                        <!-- FORM CONTAINER -->
                        <div class="form-input">
                            <!-- Radio Label -->
                            <label class="control-label">Which one is your favourite?</label>
                            <!-- Radio Controls -->
                            <div class="controls">
                                <label class="radio-inline col-md-6">
                                <input type="radio" value="" name="optradio">Option 1
                                </label>
                                <label class="radio-inline col-md-6">
                                <input type="radio" value="" name="optradio">Option 2
                                </label>                             
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-input">
                            <!-- Radio label -->
                            <label class="control-label">Which one is your favourite?</label>
                            <!-- Radio Controls -->
                            <div class="controls">
                                <label class="radio-inline col-md-6">
                                <input type="radio" value="" name="optradio">Option 1
                                </label>
                                <label class="radio-inline col-md-6">
                                <input type="radio" value="" name="optradio">Option 2
                                </label>                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-input">
                            <!-- Radio label -->
                            <label class="control-label">Which one is your favourite?</label>
                            <!-- Radio Controls -->
                            <div class="controls">
                                <label class="radio-inline col-md-4">
                                <input type="radio" value="" name="optradio">Option 1
                                </label>
                                <label class="radio-inline col-md-4">
                                <input type="radio" value="" name="optradio">Option 2
                                </label>
                                <label class="radio-inline col-md-4">
                                <input type="radio" value="" name="optradio">Option 3
                                </label>                                  
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        
        <hr class="divider"></hr>

            <fieldset class="fieldset">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Inline Forms</legend>                       
                    </div>
                </div>

                <!-- Row One -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-input row">
                            <label class="control-label col-md-3">Label Text</label>
                            <div class="controls col-md-9">
                                <input class="form-control" type="text"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-input row">
                            <label class="control-label col-md-3">Label Text</label>
                            <div class="controls col-md-9">
                                <input class="form-control" type="text"></input>
                            </div>
                        </div>                     
                    </div>
                </div>

                <!-- Row Two -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-input row">
                            <label class="control-label col-md-3">Label Text</label>
                            <div class="controls col-md-9">
                                <input class="form-control" type="text"></input>

                            <!-- Alert for Inputs -->
                              <div class="alert-container">
                                <div class="alert alert-danger">
                                    This is a Danger Alert!
                                </div>
                              </div> <!-- End of Alert Container -->
                            </div>
                        </div>                       
                    </div>
                    <div class="col-md-6">
                        <div class="form-input row">
                            <label class="control-label col-md-3">Label Text</label>
                            <div class="controls col-md-9">
                                <input class="form-control" type="text"></input>

                                <!-- Alert for Inputs -->
                                  <div class="alert-container">
                                    <div class="alert alert-info">
                                        This is an Info Alert!
                                    </div>
                                  </div> <!-- End of Alert Container -->
                            </div>
                        </div>                       
                    </div>
                </div>
                <!-- Row Three -->
                <div class="row">
                    <!-- GRID COL -->
                    <div class="col-lg-12">
                        <!-- Form Container with Row-->
                        <div class="form-input row">
                            <!-- Control Label -->
                            <label class="control-label col-lg-5">Childrens Relationship to Responsible person</label>
                            <!-- Control Container with Row -->
                            <div class="controls col-lg-7">
                                <input class="form-control" type="text"></input>
                            </div>
                        </div>                       
                    </div>
                    <!-- GRID COL -->
                    <div class="col-lg-12">
                         <!-- Form Container with Row-->
                        <div class="form-input row">
                            <!-- Control Label -->
                            <label class="control-label col-lg-5">Work status of responsible person</label>
                            <!-- Control Container with Row -->
                            <div class="controls col-lg-7">
                                <input class="form-control" type="text"></input>
                            </div>
                        </div>                       
                    </div>
                </div> <!-- End of Row -->
                <!-- Row Four -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-input row">
                            <label class="control-label col-md-6">This is a long tail Question?</label>
                            <div class="controls col-md-6">
                                <input class="form-control" type="text"></input>
                            </div>
                        </div>                       
                    </div>
                </div>
                <!-- Row Five -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-input row">
                            <label class="control-label col-md-6">This is a long tail Question?</label>
                            <div class="controls col-md-6">
                                <select class="form-control" ng-model="PayeIndividualSummaryModel.selectedTitle" ng-options="l.name for l in PayeIndividualSummaryModel.titles">
                                    <option value="Worker">N/A</option>
                                    <option value="Worker">Worker</option>
                                    <option value="Mr">Self Employed</option>
                                    <option value="Unemployed">Unemployed</option>
                                </select>
                            </div>
                        </div>                       
                    </div>
                </div>
                <!-- Row Six -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-input row">
                            <label class="control-label col-md-6">This is a long tail Question?</label>
                            <div class="controls col-md-6">
                                <input class="form-control" type="text"></input>

                            <!-- Alert for Inputs -->
                              <div class="alert-container">
                                <div class="alert alert-success">
                                    This is a Success Alert!
                                </div>
                              </div> <!-- End of Alert Container -->
                            </div>
                        </div>                       
                    </div>
                </div>
            </fieldset>

        <hr class="divider"></hr>

        	<!-- This Fieldset will be collapsable -->
        	<fieldset class="fieldset fieldset-toggle collapsed">
                <!-- Title Row -->
<!--                 <div class="row">
                    <div class="col-lg-12"> -->
                        <!-- Fieldset Legend -->
                        <legend><span class="glyphicon icon-legend"></span>ITMP Table</legend>
  <!--                   </div>
                </div> -->

                <!-- Table Row -->
                <div class="row">
                    <!-- GRID COL -->
                    <div class="col-lg-12">
                        <!-- TABLE -->
        	        	<table class="table table-bordered table-hover">
        				    <thead>
        				      <tr>
        				        <th>Claim Number</th>
        				        <th>Claim Version</th>
        				        <th>Claim Names</th>
        				        <th>Action</th>
        				        <th>Award Type</th>
        				      </tr>
        				    </thead>
        				    <tbody>
        				      <tr>
        				        <td>Value</td>
        				        <td>Value</td>
        				        <td>John Smith</td>
        				        <td>Update</td>
        				        <td>Addtional CHB Claim</td>
        				      </tr>
        				      <tr class="row-success">
        				        <td>Value</td>
        				        <td>Value</td>
        				        <td>John Smith</td>
        				        <td>Update</td>
        				        <td>Addtional CHB Claim</td>
        				      </tr>
        				      <tr>
        				        <td>Value</td>
        				        <td>Value</td>
        				        <td>John Smith</td>
        				        <td>Update</td>
        				        <td>Addtional CHB Claim</td>
        				      </tr>
        				      <tr class="row-alert">
        				        <td>Value</td>
        				        <td>Value</td>
        				        <td>John Smith</td>
        				        <td>Update</td>
        				        <td>Addtional CHB Claim</td>
        				      </tr>
        				      <tr class="row-new">
        				        <td>Value</td>
        				        <td>Value</td>
        				        <td>John Smith</td>
        				        <td>Update</td>
        				        <td>Addtional CHB Claim</td>
        				      </tr>
        				    </tbody>
        				  </table>
                    </div>
                </div>
		   </fieldset>
        	</di
                <!-- Buttons Container  -->
                <div class="buttons-container blocked">
                    <!-- Left Container -->
                	<div class="pull-left">
                        <!-- Negative Button -->
                	   <button class="btn btn-danger pull-left">Cancel</button>
                    </div>

                    <!-- Right Container -->
                	<div class="pull-right">
                        <!-- Default Button -->
        	        	<button class="btn btn-default">Edit</button>
                        <!-- Primary Button -->
        	        	<button class="btn btn-primary">Save</button>
                	</div>
                </div> <!-- End of Buttons Container -->
    		</div>
    	</div>
    </main>
</body>
</html>

