<app-heading text="Chb Claimant Child Details"></app-heading>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
  
  <div class="list-group panel">
    <a href="#individualmenu" class="list-group-item list-group-item active" data-toggle="collapse" data-parent="#MainMenu">Child Benefit</a>
    <div class="collapse in" id="individualmenu">
      <a href="#" class="list-group-item">Claim Summary</a>
      <a href="#" class="list-group-item">Claim History</a>
      <a href="#" class="list-group-item">Child Search</a>
    </div>

    <a href="#tracematch" class="list-group-item list-group-item active" data-toggle="collapse" data-parent="#MainMenu">Trace & Match</a>
    <div class="collapse" id="tracematch">
      <a href="" class="list-group-item">Subitem 1</a>
      <a href="" class="list-group-item">Subitem 2</a>
      <a href="" class="list-group-item">Subitem 3</a>
    </div>

    <a href="#inyearforms" class="list-group-item list-group-item active" data-toggle="collapse" data-parent="#MainMenu">In-Year Forms</a>
    <div class="collapse" id="inyearforms">
      <a href="" class="list-group-item">Subitem 1</a>
      <a href="" class="list-group-item">Subitem 2</a>
      <a href="" class="list-group-item">Subitem 3</a>
    </div>

    <a href="#employments" class="list-group-item list-group-item active" data-toggle="collapse" data-parent="#MainMenu">Employments</a>
    <div class="collapse" id="employments">
      <a href="" class="list-group-item">Subitem 1</a>
      <a href="" class="list-group-item">Subitem 2</a>
      <a href="" class="list-group-item">Subitem 3</a>
    </div>

    <a href="#taxtables" class="list-group-item list-group-item active" data-toggle="collapse" data-parent="#MainMenu">Tax Tables</a>
    <div class="collapse" id="taxtables">
      <a href="" class="list-group-item">Subitem 1</a>
      <a href="" class="list-group-item">Subitem 2</a>
      <a href="" class="list-group-item">Subitem 3</a>
    </div>

    <a href="#reviewforms" class="list-group-item list-group-item active" data-toggle="collapse" data-parent="#MainMenu">Targeted Review Forms</a>
    <div class="collapse" id="reviewforms">
      <a href="" class="list-group-item">Subitem 1</a>
      <a href="" class="list-group-item">Subitem 2</a>
      <a href="" class="list-group-item">Subitem 3</a>
    </div>

  </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">

  <div class="panel-group" id="accordion">
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1"><span  class="label">  <b>Name and Birth Details  </b>  </span></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group row">
            <label for="currentname" class="col-md-3 standard_label_style">Current Name</label>
            <div class="col-md-3">

            </div>
            <label for="birthcertnamen" class="col-md-6 standard_label_style">Name on Birth Certificate</label>
          </div>
          <div class="form-group row">
            <label for="surname" class="col-md-3 standard_label_style ">Surname</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.birthDetail.surname">
            </div>
            <label for="surname" class="col-md-3 standard_label_style">Surname</label>
            <div>
              <input type="text" [(ngModel)]="chBClaimantDetails.birthDetail.certSurname">
            </div>
          </div>
          <div class="form-group row">
            <label for="forename" class="col-md-3 standard_label_style">Forename</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.birthDetail.forename">
            </div>
            <label for="forename" class="col-md-3 standard_label_style">Forename</label>
            <div>
              <input type="text" [(ngModel)]="chBClaimantDetails.birthDetail.certForename">
            </div>
          </div>
          <div class="form-group row">
            <label for="othernames" class="col-md-3 standard_label_style">Other Forenames</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.birthDetail.otherForeName">
            </div>
            <label for="othernames" class="col-md-3 standard_label_style">Other Forenames</label>
            <div>
              <input type="text" [(ngModel)]="chBClaimantDetails.birthDetail.certOtherForeName">
            </div>
          </div>
          <div class="form-group row">
            <label for="dob" class="col-md-3 standard_label_style">Date of Birth</label>
            <div class="col-md-3">
              <input type="text" disabled="disabled" [(ngModel)]="chBClaimantDetails.birthDetail.dateOfBirth">
            </div>
            <label for="verified" class="col-md-3 standard_label_style">Verfied</label>
            <div>
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.birthDetail.verified">
            </div>
          </div>
          <div class="form-group row">
            <label for="gender" class="col-md-3 standard_label_style">Gender</label>
            <div class="col-md-3">
              <select disabled="disabled" [(ngModel)]="chBClaimantDetails.birthDetail.gender">
                  <option></option>
                  </select>
            </div>
            <label for="ownchild" class="col-md-3 standard_label_style">Is this Child the Claimant's own child?</label>
            <div>
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.birthDetail.claimaintOwnChild">
            </div>
          </div>
          <div class="form-group row">
            <label for="birthno" class="col-md-3 standard_label_style">Birth Number</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.birthDetail.birthNumber" disabled="disabled">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion12" href="#collapse2"> <span class="label">  <b>Basic Eligibilty-Child </b>  </span></a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group row">
            <label for="borninuk" class="col-md-3 standard_label_style">Child born in UK</label>
            <div class="col-md-1">
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.childBornInUk">
            </div>
          </div>
          <div class="form-group row">
            <label for="livesinuk" class="col-md-3 standard_label_style">Child lives in UK</label>
            <div class="col-md-1">
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.childLivesInUk">
            </div>
          </div>
          <div class="form-group row">
            <label for="nationality" class="col-md-3 standard_label_style">Child's nationality</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.childNationality">
            </div>
          </div>
          <div class="form-group row">
            <label for="doa" class="col-md-3 standard_label_style">Date of arrival</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.dateOfArrival">
            </div>
          </div>
          <div class="form-group row">
            <label for="livedwithsomeone" class="col-md-3 standard_label_style">Child has lived with someone else in the last 12 months</label>
            <div class="col-md-1">
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.childLivedSomeWhereElse">
            </div>
          </div>
          <div class="form-group row">
            <label for="someoneelseclaimed" class="col-md-3 standard_label_style">Someone else has claimed</label>
            <div class="col-md-3">
              <select disabled="disabled" [(ngModel)]="chBClaimantDetails.birthDetail.gender">
                  <option></option>
                  </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="liveswithClaimant" class="col-md-3 standard_label_style">Child lives with Claimant</label>
            <div class="col-md-1">
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.childLivesWithClaimaint">
            </div>
          </div>
          <div class="form-group row">
            <label for="contributes" class="col-md-3 standard_label_style">Claimant contributes to child's upkeep</label>
            <div class="col-md-1">
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.claimtContribute">
            </div>
          </div>
          <div class="form-group row">
            <label for="inHospital" class="col-md-3 standard_label_style">Child is in hospital</label>
            <div class="col-md-1">
              <input type="checkbox" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.childIsinHospital">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-1">
              <label for="from" class="col-md-3 standard_label_style">From:</label></div>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.childIsinHospitalFrom">
            </div>
            <label for="until" class="col-md-1 standard_label_style">Until:</label>
            <div>
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="incursExpenditure" class="col-md-3 standard_label_style">Claimant incurs expenditure</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="form-group row">
            <label for="lookedAfter" class="col-md-3 standard_label_style">Child is being looked after</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>

          <div class="form-group row">
            <label for="from" class="col-md-3 standard_label_style">From :</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="livesAway" class="col-md-3 standard_label_style">Child lives away for education</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="form-group row">
            <label for="inDetention" class="col-md-3 standard_label_style">Child is in detention</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="form-group row">
            <label for="liveWithFrom" class="col-md-3 standard_label_style">Child will live with Claimant From</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="adoption" class="col-md-3 standard_label_style">Child placed for adoption</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="form-group row">
            <label for="adopted" class="col-md-3 standard_label_style">Child adopted</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="form-group row">
            <label for="deceased" class="col-md-3 standard_label_style">Child deceased</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="form-group row">
            <label for="dod" class="col-md-3 standard_label_style">Date of death</label>
            <div class="col-md-3">
              <input type="text" [(ngModel)]="chBClaimantDetails.eligibiltyDetail.dateOFDeath">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion12" href="#collapse3"> <span class="label">  <b>Child lives or has lived with </b>  </span></a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group row">
            <label for="name" class="col-md-3 standard_label_style">Name</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line1" class="col-md-3 standard_label_style">Line 1</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line2" class="col-md-3 standard_label_style">Line 2</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line3" class="col-md-3 standard_label_style">Line 3</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line4" class="col-md-3 standard_label_style">Line 4</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line5" class="col-md-3 standard_label_style">Line 5</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="postcode" class="col-md-3 standard_label_style">Postcode</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-md-3 standard_label_style">Country</label>
            <div class="col-md-3">
              <select>
                  <option> </option>
                 
                  </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion12" href="#collapse4"> <span class="label">  <b>Someone else has claimed</b>  </span></a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group row">
            <label for="name" class="col-md-3 standard_label_style">Name</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line1" class="col-md-3 standard_label_style">Line 1</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line2" class="col-md-3 standard_label_style">Line 2</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line3" class="col-md-3 standard_label_style">Line 3</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line4" class="col-md-3 standard_label_style">Line 4</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line5" class="col-md-3 standard_label_style">Line 5</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="postcode" class="col-md-3 standard_label_style">Postcode</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-md-3 standard_label_style">Country</label>
            <div class="col-md-3">
              <select>
                  <option> </option>
                 
                  </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion12" href="#collapse5"> <span class="label">  <b>Education</b>  </span></a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group row">
            <label for="education" class="col-md-3 standard_label_style">Education or training for child aged 16 or over</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="form-group row">
            <label for="course" class="col-md-3 standard_label_style">Course/Approved training being taken</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-1">
              <label for="from" class="col-md-3 standard_label_style">From:</label></div>
            <div class="col-md-3">
              <input type="text">
            </div>
            <label for="until" class="col-md-1 standard_label_style">Until:</label>
            <div>
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="namedet" class="col-md-7 standard_label_style">Name and address where course/approved training being taken</label>
          </div>
          <div class="form-group row">
            <label for="name" class="col-md-3 standard_label_style">Name</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line1" class="col-md-3 standard_label_style">Line 1</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line2" class="col-md-3 standard_label_style">Line 2</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line3" class="col-md-3 standard_label_style">Line 3</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line4" class="col-md-3 standard_label_style">Line 4</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="line5" class="col-md-3 standard_label_style">Line 5</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="postcode" class="col-md-3 standard_label_style">Postcode</label>
            <div class="col-md-3">
              <input type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-md-3 standard_label_style">Country</label>
            <div class="col-md-3">
              <select>
                  <option> </option>
                 
                  </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="received" class="col-md-3 standard_label_style">Payments/Benefits being received</label>
            <div class="col-md-3">
              <input type="checkbox">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion12" href="#collapse6"> <span class="label">  <b>Other Child Details</b>  </span></a>
        </h4>
      </div>
      <div class="panel-body">
        <div id="collapse6" class="panel-collapse collapse in">
          <div class="panel-body">
            <p-dataTable [paginator]="true" rows="5" [responsive]="true">
              <p-column field="surnameName" header="Surname"></p-column>
              <p-column field="forenameName" header="Forename"></p-column>
              <p-column field="otherName" header="Other Forenames"></p-column>
              <p-column field="gender" header="Gender"></p-column>
              <p-column field="dateOfBirth" header="Date of Birth"></p-column>
              <p-column field="verfied" header="Verfied"></p-column>
              <p-column styleClass="col-button">
                <template pTemplate="body">
                  <button type="checkbox"></button>
                </template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-form-actions [group]="validationForm" parentPath="/child-benefits"></app-form-actions>