<ng-container *ngIf="nino">
  <div class="side-menu__information">
    <div class="row">
      <div class="col-xs-4">
        <app-icon iconClass="glyphicon-user"></app-icon>
      </div>
      <div class="col-xs-8">
        <b>Mr B Snowden</b>
        <br>
        <small>19/03/1947</small>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4"><b>NINO:</b></div>
      <div class="col-xs-8">AB123456C</div>
    </div>
    <div class="row">
      <div class="col-xs-4"><b>Address:</b></div>
      <div class="col-xs-8">56 Neston Rd, Merseyside</div>
    </div>
  </div>
</ng-container>