<!-- Hamburger Icon -->
<ng-container *ngIf="routes">
  <div class="hamburger" (click)="toggleSideMenu()">
    <span id="hamburger-icon" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </div>
</ng-container>

<aside id="side-menu" class="side-menu" data-visible="false">

  <!-- User info panel -->
  <app-user-info></app-user-info>

  <!-- Menu -->
  <ng-container *ngIf="routes">
    <ul id="side-menu__list" class="side-menu__list panel-group">
      <ng-container *ngFor="let route of routes">
        <ng-container *ngIf="route.path && route.data.title">

          <!-- Routes without children -->
          <ng-container *ngIf="!route.children && !route.data.hidden">
            <li class="side-menu__list__item">
              <a routerLink="{{ route.path }}" routerLinkActive="active">{{ route.data.title }}</a>
            </li>
          </ng-container>

          <!-- Routes with children -->
          <ng-container *ngIf="route.children">
            <div id="accordion">
              <li class="side-menu__list__item">
                <a href="#{{ route.path }}" class="dropdown" routerLinkActive="active" data-toggle="collapse" data-parent="#accordion">{{ route.data.title }}</a>
                <ul class="side-menu__sub-menu collapse" id="{{ route.path }}">
                  <ng-container *ngFor="let child of route.children">
                    <ng-container *ngIf="child.path && child.data.title && !route.data.hidden">
                      <li class="side-menu__list__item">
                        <a routerLink="{{ route.path + '/' + child.path }}" routerLinkActive="active">{{ child.data.title }}</a>
                      </li>
                    </ng-container>
                  </ng-container>
                </ul>
              </li>
            </div>
          </ng-container>

        </ng-container>
      </ng-container>
    </ul>
  </ng-container>

</aside>